
body
{	
	background: url(farkas3.jpg) fixed ;
	background-size: cover;						/*nem kettőzi a háttérképe, hanem elnyújtja*/	
}

#tartalom, header
{
	background-color:rgba(200,200,200,0.7);
	width: 900px;
	margin: 10px auto;
	padding: 10px;
}


header
{
	background-color: rgba(90,90,90,0.7);
	
	//font: 40px bold Algerian;		/*Így nem megy*/
	
	font-family: Algerian, serif;
	font-weight: bold;
	font-size: 40px;
	text-align: center;
	
	padding-top: 20px;
	padding-bottom: 20px;
}



label
{
	width: 300px;
	display: inline-block;
}

/*
input[type="text"], input[type="date"], select, input[type="email"], input[type="password"]*/
.szemadatok, .cim
{
	width: 200px;
}


#nem
{
	width: 205px;
}


fieldset
{
	margin: 10px 15px;
}

.gombok
{
	width: 150px;
	height: 80px;
	margin-top: 20px;
	margin-bottom: 10px;
	
	background-color: white;
	font-size: 20px;
	font-weight: bolder;
	font-family: Times New Roman;
}

#kuld
{
	margin-left: 250px;
	margin-right: 100px;
}



