
#szamologep
{
    height: 800px;
    width: 500px;
    background-color: gray;  
    text-align: center; 
    padding-top: 30px;   
}

#gombok
{
    width: 100%;
    height: 80%;
    padding-top: 30px;
   
   
}

input[type='button']
{
    width: 20%;
    height: 15%;
    font-size: 30px;
}

#eredmenyKi
{
    width: 81%;
    height: 10%;
    font-size: 40px;
}

#szam0, #torol, #egyenlo
{
    width: 41%;
}