body{
	background-color: #ccc;
	color: #555;
	font-weight: bold;
}
form{
	margin: 0 auto;
	width: 500px;
	height: 200px;
	background-image: url(penz.jpg);
	padding: 200px;
	text-align: center;
	line-height: 2em;
}
input[type="text"]{
	text-align: right;
	padding: 0 5px;
}